@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --BGCOLOR: #000D11;
    --FONT-COLOR: #E5EDF0;
    --FF: 'Poppins', sans-serif;
    --FF-BRAND: 'Righteous', cursive;
}

body {
    user-select: none;
    min-width: 310px;
    background: #000D11;
}

body::-webkit-scrollbar {
    display: none;
}


header {
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease-in-out;
}

.brand {
    display: flex;
    align-items: center;
    font-family: var(--FF-BRAND);
}

.brand span {
    color: var(--FONT-COLOR);
    font-size: 1.4em;
    letter-spacing: -0.5px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    font-size: 13px;
    padding: 1px 0;
    margin: 0px 14px;
    font-weight: 600;
    transition: all .50s ease;
}

.navbar a:hover {
    color: #7C7C7C;
}

.navbar a.active {
    color: #7C7C7C;
}

.main {
    display: flex;
    align-items: center;
}

.signup {
    letter-spacing: 0.5px;
    font-size: 0.8em;
    background: #D9D9D9;
}

.main a {
    padding: 10px;
    border-radius: 7px;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-family: var(--FF);
    margin-right: 20px;
}


#menu-icon {
    color: #7C7C7C;
    font-size: 35px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}




/* BLOG */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background: #000D11;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.blog {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.blog-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E5EDF0;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    text-align: center;
    border-radius: 10px;
    width: 310px;
    background: #0B1824;
}

.first{
    margin: 40px 30px 0 30px;
}

/* TO BE CHANGED LATER */

.middle {
    
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 60px;
    margin-bottom: 40px;
}

h5 {
    margin-bottom: 4px;
}

.blog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.content span {
    color: #A6A6A6;
    font-size: 11px;
    margin-bottom: 4px;
}

.content h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #40AEDA;
}

.content .content-details {
    color: #E5EDF0;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.4px;
}

.content .read {
    margin-top: 10px;
    color: #B5BBBD;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    transition: 1.3s;
}

.content .read:hover {
    text-decoration: underline;
    color: #40AEDA;
}

.add a {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.5px;
    text-decoration: underline;
    color: #E5EDF0;
    transition-duration: 1.3s;
}

.add a:hover {
    color: #40AEDA;
}

.add {
    margin-top: -40px;
}


@media (max-width: 700px) {
    body {
        min-width: 500px;
    }

    .box {
        margin: 25px auto;
        width: 450px;
    }

    img {
        width: 450px;
        height: 350px;
    }

    .content .content-details {
        font-size: 20px;
        letter-spacing: 0.4px;
        padding: 0 30px;
        margin: 10px 0;
    }

    .content h5 {
        font-size: 24px;
    }

    .content span {
        font-size: 13px;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .content .read {
        font-size: 17px;
    }

    .add {
        margin-top: 30px;
    }

    .add a {
        font-size: 16px;
    }

    .blog {
        margin-top: 80px;
    }
}

@media (max-width: 1280px) {
    header {
        padding: 14px 3%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        position: fixed;
        right: 1px;
    }

    .signup {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -110% !important;
        width: 280px;
        height: 45vh;
        background: #0b1824d0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
        transition: all 0.9s .0s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 14px;
    }

    .navbar.open {
        right: 0 !important;
    }


}