* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --BGCOLOR: #000D11;
    --FONT-COLOR: #E5EDF0;
    --FF: 'Poppins', sans-serif;
    --FF-BRAND: 'Righteous', cursive;
}

body {
    user-select: none;
    min-width: 400px;
    min-height: 100vh;
    background: #000D11;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease-in-out;
}

.brand {
    display: flex;
    align-items: center;
    font-family: var(--FF-BRAND);
}

.brand span {
    color: var(--FONT-COLOR);
    font-size: 1.4em;
    letter-spacing: -0.5px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    font-size: 13px;
    padding: 1px 0;
    margin: 0px 14px;
    font-weight: 600;
    transition: all .50s ease;
}

.navbar a:hover {
    color: #7C7C7C;
}

.navbar a.active {
    color: #7C7C7C;
}

.main {
    display: flex;
    align-items: center;
}

.signup {
    letter-spacing: 0.5px;
    font-size: 0.8em;
    background: #D9D9D9;
}

.main a {
    padding: 8px 10px;
    border-radius: 5px;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-family: var(--FF);
    margin-right: 20px;
}


#menu-icon {
    color: #7C7C7C;
    font-size: 35px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}


/* CONTACT PAGE */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

form {
    background: #0B1824;
    display: flex;
    flex-flow: column;
    min-width: 400px;
    height: auto;
    padding: 40px 40px;
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.links{
    margin-top: -15px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-evenly;
    font-size: 26px;
}

.links img{
    margin: 0 20px;
    padding: 04px;
    display: block;
    width: 30px;
}

.links a{
    color: #D9D9D9;
    transition: 0.7s;
}

.links a:hover{
    color: #88DBFB;
}

form h2,
h5 {
    text-align: center;
}

form input,
textarea {
    padding: 10px;
    color: #010818;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 12.3px;
    letter-spacing: -0.3px;
    font-family: var(--FF);
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}

form input,
textarea:focus {
    outline: none;
}


form .name {
    margin-top: -14%;
}

.send {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    padding: 8px 20px;
    border-radius: 2px;
    border: none;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.5px;
    box-shadow: 6px 6px #40AEDA;
    transition: 0.6s;
    margin-bottom: 10px;
}

.send:hover {
    box-shadow: none;
}

label {
    font-size: 13px;
    font-weight: bold;
}


form span {
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    color: #BF0606;
    font-weight: 600;
    font-size: 11px;
    transform: translate(100%, -260%);
    width: 50%;
}


form span:last-child{
    margin-top: 122%;
    position: absolute;
    margin-left: -43%;
    color: #F25F5C;
}

#password-error{
    width: 80%;
    transform: translateX(25.3%);
}

span i {
    margin-top: 5px;
    color: #016C9A;
    font-size: 14px;
}


#success{
    z-index: 555555555;
    background: #BABABD;
    position: absolute;
    width: 250px;
    height: 190px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    font-family: var(--FF);
    display: none;
}

h4{
    letter-spacing: -0.1px;
    margin-top: 50%;
    font-size: 12px;
    font-weight: 100;
}

#icon1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -140%);
    margin-top: 10px;
    color: #026D98;
    font-size: 60px;
}


#btnm{
    background: #026D98;
    margin-top: 6px;
    padding: 6px 13px;
    border: none;
    color: white;
    border-radius: 3px;
}

#btnm a{
    color: #D9D9D9;
    font-weight: 600;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        position: fixed;
        right: 1px;
    }

    .signup {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100% !important;
        width: 280px;
        height: 45vh;
        background: #0b1824d0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
        transition: all 1s .0s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .navbar.open {
        right: 0 !important;
    }
}



@media (max-width: 1280px) {
    header {
        padding: 14px 3%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 600px) {
    form {
        width: 470px;
        height: auto;
        padding: 60px 40px;
    }

    .links img{
        padding: 0.1px;
    }
    input,textarea{
        padding: 11px !important;
        font-size: 19px !important;
    }

    label{
        font-size: 20px;
    }
    
    .send{
        font-size: 19px;
        padding: 8px 22px;
    }
    .links{
        margin-top: -20px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-evenly;
        font-size: 33px;
    }
}