@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --BGCOLOR: #000D11;
    --FONT-COLOR: #E5EDF0;
    --FF: 'Poppins', sans-serif;
    --FF-BRAND: 'Righteous', cursive;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 800px;
    min-height: 100vh;
    background: #000D11;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease-in-out;
}

.brand {
    display: flex;
    align-items: center;
    font-family: var(--FF-BRAND);
}

.brand span {
    color: var(--FONT-COLOR);
    font-size: 1.4em;
    letter-spacing: -0.5px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    font-size: 13px;
    padding: 1px 0;
    margin: 0px 14px;
    font-weight: 600;
    transition: all .50s ease;
}

.navbar a:hover {
    color: #7C7C7C;
}

.navbar a.active {
    color: #7C7C7C;
}

.main {
    display: flex;
    align-items: center;
}

.signup {
    letter-spacing: 0.5px;
    font-size: 0.8em;
    background: #D9D9D9;
}

i {
    color: #0291C9;
}

.main a {
    padding: 10px;
    border-radius: 7px;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-family: var(--FF);
    margin-right: 20px;
    visibility: hidden;
}


#menu-icon {
    color: #7C7C7C;
    font-size: 35px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}


/* RESPONSIVE WEB DESIGN */



.container {
    user-select: none;
    margin: 8% 0;
    display: grid;
    grid-template-columns: 300px 200px 400px;
    gap: 20px;
    justify-content: center;
}

.box {
    display: grid;
    border-radius: 5px;
    color: #fff;
    font-size: 2rem;
}


.box:first-child {
    background: #0B1824;
    grid-column: 1 / 3;
    grid-row: 1 / 10;
}

.box:nth-child(2) {
    grid-row: 1 / 6;
}

.box:nth-child(3) {
    height: 45px;
}

.box:nth-child(4) {
    height: 120px;
    background: #0B1824;
}

.box:nth-child(5) {
    height: 120px;
    background: #0B1824;
}

.box:nth-child(6) {
    height: 120px;
    background: #0B1824;
}

/* General */

h5 {
    color: #40AEDA;
    font-size: 16px;
}

img {
    margin-left: 1px;
    border-radius: 5px;
}

/* Box three */

.three {
    margin-top: -60px;
    display: flex;
    margin-left: 8px;
}

.three button {
    font-weight: 600;
    border-radius: 3px;
}

.like {
    padding: 6px 27px;
    margin-right: 5%;
    margin-left: -2%;
    color: #fff;
    background: #0B1824;
    border: none;
}

.like i {
    text-align: center;
    font-size: 18px;
    margin-right: 3px;
}

.comment {
    border: none;
    padding: 12px 10px;
}

#comment {
    margin-top: 2px;
}


.four {
    color: #D9DDDE;
    font-weight: 600;
    padding: 20px;
    font-size: 12px;
}

.five {
    color: #D9DDDE;
    font-weight: 600;
    padding: 20px;
    font-size: 12px;
}

.six {
    color: #D9DDDE;
    font-weight: 600;
    padding: 20px;
    font-size: 12px;
}

.box {
    line-height: 16px;
    letter-spacing: 0.1px;
}

.one {
    padding: 55px;
}

.content p {
    line-height: 21px;
    color: #D9DDDE;
    font-weight: 600;
    font-size: 14px;
}

.content h5 {
    font-size: 20px;
    text-align: center;
}

ul {
    font-size: 12px;
}

li {
    list-style: none;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: #D9DDDE;
}

.one a {
    text-decoration: underline;
    color: #D9DDDE;
}

.one a:hover{
    color: #9E9E9E;
}

#sub {
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
    color: #40AEDA;
}





@media (max-width: 980px) {
    body {
        min-width: 80%;
    }

    .one {
        padding: 30px;
    }

    .one h5{
        font-size: 22px;
    }

    .one a {
        font-size: 14px;
    }

    img {
        margin-left: 0.5px;
        min-width: 100%;
        height: auto;
    }

    .container {
        min-width: 70%;
        margin: 10% 7%;
        display: inline-block;
    }

    .container p {
        line-height: 25px;
        letter-spacing: 0.2px;
        font-size: 18px;
    }

    .box {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .three {
        margin-left: 9px;
    }

    h5 {
        font-size: 20px;
    }

    .four,
    .five,
    .six {
        padding: 30px;
        font-size: 15px;
        letter-spacing: 0.1px;
    }

    .four, .six h5{
        margin-bottom: 10px;
    }
    .five h5{
        margin-bottom: 10px;
    }
    .four h5{
        margin-bottom: 10px;
    }

}



@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        position: fixed;
        right: 1px;
    }

    .signup {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100% !important;
        width: 280px;
        height: 45vh;
        background: #0b1824d0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
        transition: all 0.7s .1s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .navbar.open {
        right: 0 !important;
    }
}



@media (max-width: 1280px) {
    header {
        padding: 14px 3%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}