@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Righteous&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --BGCOLOR: #000D11;
    --FONT-COLOR: #EEE5E9;
    --FF: 'Poppins', sans-serif;
    --FF-BRAND: 'Righteous', cursive;
}

body {
    min-width: 400px;
    min-height: 100vh;
    background: #000D11;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease-in-out;
}

.brand {
    display: flex;
    align-items: center;
    font-family: var(--FF-BRAND);
}

.brand span {
    color: var(--FONT-COLOR);
    font-size: 1.4em;
    letter-spacing: -0.5px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    font-size: 13px;
    padding: 1px 0;
    margin: 0px 14px;
    font-weight: 600;
    transition: all .50s ease;
}

.navbar a:hover {
    color: #7C7C7C;
}

.navbar a.active {
    color: #7C7C7C;
}

.main {
    display: flex;
    align-items: center;
    visibility: hidden;
}

.signup {
    letter-spacing: 0.5px;
    font-size: 0.8em;
}

.main a {
    padding: 8px;
    border-radius: 7px;
    background-color: #D9D9D9;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-family: var(--FF);
    margin-right: 20px;
}


#menu-icon {
    color: #7C7C7C;
    font-size: 35px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}


/*SIGN UP*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    user-select: none;
    background: #0B1824;
    display: flex;
    flex-flow: column;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    min-width: 400px;
    padding: 40px 45px;
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    border-radius: 6px;
}

form h2,
h5 {
    text-align: center;
}

form input {
    z-index: 5555;
    border: none;
    padding: 10px;
    background: transparent;
    border-bottom: 3px solid var(--FONT-COLOR);
    color: #2DC2FD;
    margin-top: -10px;
    font-weight: 600;
    font-size: 12.3px;
    letter-spacing: 0.3px;
    font-family: 'Nunito', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #0B1824 inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--FONT-COLOR) !important;
}

form input:focus {
    outline: none;
}

form a {
    color: #88DBFB;
}

form a:hover {
    text-decoration: underline;
}

form .name {
    margin-top: 15%;
}

.sign {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 8px 16px;
    border-radius: 2px;
    border: none;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.5px;
    box-shadow: 4px 4px #40AEDA;
    transition: 0.6s;
}

.sign:hover {
    box-shadow: none;
}

label {
    margin-top: 15px;
    margin-bottom: 12px;
    z-index: 5;
    font-size: 13px;
    font-weight: bold;
}

h2 {
    color: #40AEDA;
    font-size: 17px;
}

h5 {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

form span {
    z-index: -555555;
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
    color: #FF6663;
    font-weight: 600;
    font-weight: 600;
    font-size: 11px;
    transform: translate(100%, 0);
    width: 50%;
}

form span:last-child {
    margin-top: 20px;
    display: block;
    margin-left: -66px;
}

#password-error{
    width: 80%;
    transform: translateX(25.3%);
}

span i {
    z-index: 55555;
    margin-top: -1px;
    color: #2DC2FD;
    font-size: 14px;
}




@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        position: fixed;
        right: 1px;
    }

    .signup {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100% !important;
        width: 290px;
        height: 45vh;
        background: #0b1824d0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
        transition: all 1s .0s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .navbar.open {
        right: 0 !important;
    }
}



@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 600px) {
    form {
        min-width: 470px;
        height: auto;
        padding: 40px 40px;
    }

    .sign {
        box-shadow: 5px 5px #40AEDA;
        padding: 12px 20px;
        font-size: 19px;
        margin-top: 60px;
    }

    label {
        margin-top: 19px !important;
        font-size: 17px;
        margin-top: 5px;
    }

    form span{
        margin-top: -30px;
        font-size: 15px;
    }
    span i {
        font-size: 15px;
    }

    form input {
        font-size: 18px;
    }

    h2 {
        font-size: 21px;
    }

    h5 {
        margin-bottom: 12%;
        font-size: 13px;
    }
}