@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --BGCOLOR: #000D11;
    --FONT-COLOR: #EEE5E9;
    --FF: 'Poppins', sans-serif;
    --FF-BRAND: 'Righteous', cursive;
}

body {
    min-width: 352px;
    max-height: 100vh;
    background: #000D11;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease-in-out;
}

.brand {
    display: flex;
    align-items: center;
    font-family: var(--FF-BRAND);
}

.brand span {
    color: var(--FONT-COLOR);
    font-size: 1.4em;
    letter-spacing: -0.5px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #E5EDF0;
    font-family: var(--FF);
    font-size: 13px;
    padding: 1px 0;
    margin: 0px 14px;
    font-weight: 600;
    transition: all .50s ease;
}

.navbar a:hover {
    color: #7C7C7C;
}

.navbar a.active {
    color: #7C7C7C;
}

.main {
    display: flex;
    align-items: center;
}

.signup {
    letter-spacing: 0.5px;
    font-size: 0.8em;
    background: #D9D9D9;
}

.main a {
    padding: 8px;
    border-radius: 7px;
    background-color: #D9D9D9;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-family: var(--FF);
    margin-right: 30px;
}


#menu-icon {
    color: #7C7C7C;
    font-size: 35px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}

/* PROFILE*/

img {
    height: 200px;
}

.profile-photo {
    user-select: none;
    border: 4px solid #D9D9D9;
    height: 140px;
    width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    border-radius: 50%;
    overflow: hidden;
}

#file {
    display: none;
}

#image {
    height: 100%;
    width: 100%;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background: #D9D9D9;
    color: #000D11;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: -0.7px;
    display: none;
    font-family: 'Poppins', sans-serif;
}

.user-info {
    user-select: none;
    border-radius: 10px;
    color: white;
    background: #0B1824;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 330px;
    height: 300px;
    transform: translate(-50%, -10%);
    font-family: 'Poppins', sans-serif;
    padding: 35px 45px 10px 45px;
}

.user-info h3 {
    font-size: 22px;
    text-align: center;
    color: #40AEDA;
    font-family: 'Nunito', sans-serif;
}

h4 {
    text-align: center;
    font-size: 12px;
}

.name {
    font-size: 11px;
    color: #000D11;
    background: #EBEBEB;
    padding: 11px;
    border-radius: 6px;
}

.name:hover{
    background: #D9D9D9;
}

.email {
    font-size: 11px;
    border-radius: 6px;
    color: #000D11;
    background: #EBEBEB;
    padding: 11px;
}
.email:hover{
    background: #D9D9D9;
}

.update {
    text-align: center;
}

.user-info a {
    color: #D9D9D9;
    text-decoration: underline;
    transition: 0.8s;
}

.user-info a:hover{
    color: #40AEDA;
}

button {
    padding: 10px 24px;
    border: none;
    font-weight: 600;
    color: var(--BGCOLOR);
    border-radius: 5px;
    margin-left: 33%;
    box-shadow: 3px 3px #40AEDA;
    transition: 0.8s;
}

button:hover{
    box-shadow: none;
}

h4 {
    text-align: center;
}

input:focus{
    outline: none;
}

i{
    color: #0291C9;
}

input{
    border: none;
    font-weight: 600;
    width: 100%;
    font-family: 'Poppins', sans-serrif;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 600px) {
    .content {
        margin-top: 30%;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        position: fixed;
        right: 1px;
    }

    .signup {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100% !important;
        width: 300px;
        height: 45vh;
        background: #0b1824d0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
        transition: all 0.7s .0s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .navbar.open {
        right: 0 !important;
    }
}