@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --BGCOLOR: #000D11;
    --FONT-COLOR: #E5EDF0;
    --FF: 'Poppins', sans-serif;
    --FF-BRAND: 'Righteous', cursive;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 800px;
    min-height: 100vh;
    background: #000D11;
    padding-bottom: 30px;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease-in-out;
}

.brand {
    display: flex;
    align-items: center;
    font-family: var(--FF-BRAND);
}

.brand span {
    color: var(--FONT-COLOR);
    font-size: 1.4em;
    letter-spacing: -0.5px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    font-size: 13px;
    padding: 1px 0;
    margin: 0px 14px;
    font-weight: 600;
    transition: all .50s ease;
}

.navbar a:hover {
    color: #7C7C7C;
}

.navbar a.active {
    color: #7C7C7C;
}

.main {
    display: flex;
    align-items: center;
}

.signup {
    letter-spacing: 0.5px;
    font-size: 0.8em;
    background: #D9D9D9;
}

i{
    color: #0291C9;
}

.main a {
    padding: 10px;
    border-radius: 7px;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-family: var(--FF);
    margin-right: 20px;
}


#menu-icon {
    color: #7C7C7C;
    font-size: 35px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}


/* RESPONSIVE WEB DESIGN */


.container {
    user-select: none;
    margin: 8% 0;
    display: grid;
    grid-template-columns: 300px 200px 400px;
    gap: 20px;
    justify-content: center;
}

.box {
    display: grid;
    border-radius: 5px;
    color: #fff;
    font-size: 2rem;
}


.box:first-child {
    background: #0B1824;
    grid-column: 1 / 3;
    grid-row: 1 / 10;
}

.box:nth-child(2) {
    grid-row: 1 / 6;
}

.box:nth-child(3) {
    height: 45px;
}

.box:nth-child(4) {
    height: 120px;
    background: #0B1824;
}

.box:nth-child(5) {
    height: 120px;
    background: #0B1824;
}

.box:nth-child(6) {
    height: 120px;
    background: #0B1824;
}

/* General */

h5 {
    color: #40AEDA;
    font-size: 16px;
}

img {
    margin-left: 1px;
    border-radius: 5px;
}

/* Box three */

.three {
    display: flex;
    margin-left: 8px;
}

.three button {
    font-weight: 600;
    border-radius: 3px;
}

.like {
    padding: 6px 27px;
    margin-right: 5%;
    margin-left: -2%;
    color: #fff;
    background: #0B1824;
    border: none;
}
.like i{
    text-align: center;
    font-size: 18px;
    margin-right: 3px;
}

.comment{
    padding: 12px 10px;
    border: none;
}

#comment{
    margin-top: 2px;
}

.four {
    color: #D9DDDE;
    font-weight: 600;
    padding: 20px;
    font-size: 12px;
}

.five {
    color: #D9DDDE;
    font-weight: 600;
    padding: 20px;
    font-size: 12px;
}

.six {
    color: #D9DDDE;
    font-weight: 600;
    padding: 20px;
    font-size: 12px;
}


.box {
    line-height: 16px;
    letter-spacing: 0.1px;
}

.one {
    padding: 55px;
}

.content p {
    line-height: 21px;
    color: #D9DDDE;
    font-weight: 600;
    font-size: 14px;
}

.content h5 {
    font-size: 20px;
}

ul {
    font-size: 12px;
}

li {
    list-style: none;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: #D9DDDE;
}

.one a {
    text-decoration: underline;
    color: #D9DDDE;
}

.one span{
    color: #A6A6A6;
    font-size: 12px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
}

#sub {
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
    color: #40AEDA;
}


form {
    background: #0B1824;
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 46%;
    top: 240%;
    transform: translate(-80%, -70%);
    width: 522px;
    height: auto !important;
    padding: 30px 50px 40px 50px;
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    border-radius: 8px;
    margin: -300px 0;
}

form h2,
h5 {
    text-align: center;
}

form input,
textarea {
    padding: 10px;
    color: #010818;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    letter-spacing: -0.5px;
}

form input,
textarea:focus {
    outline: none;
}

form a {
    color: #88DBFB;
}

form a:hover {
    text-decoration: underline;
}

form .name {
    margin-top: -15%;
}

.send {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.5px;
    box-shadow: 5px 5px #40AEDA;
    transition: 0.6s;
    margin-bottom: -70px;
}

.send:hover {
    box-shadow: none;
}

label {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

h2 {
    color: #88DBFB;
    font-size: 17px;
    margin-bottom: 10px;
    padding-bottom: 13px;
}


form span {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    padding-right: 10px;
    color: red;
    font-weight: 600;
    font-size: 11px;
    transform: translate(100%, 0);
    width: 50%;
}


form span:last-child{
    margin-top: 20%;
    display: flex;
    margin-left: -70px;
    text-align: center;
    color: #F25F5C;
    font-size: 12px;
}

span i {
    margin-top: 5px;
    color: #016C9A;
    font-size: 14px;
}


#success{
    background: #D9D9D9;
    position: absolute;
    width: 220px;
    height: 190px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    font-family: var(--FF);
    display: none;
}

h4{
    letter-spacing: -0.1px;
    margin-top: 50%;
    font-size: 12px;
    font-weight: 100;
}

#icon1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -140%);
    margin-top: 10px;
    color: #026D98;
    font-size: 60px;
}


#btnm{
    background: #026D98;
    margin-top: 6px;
    padding: 6px 13px;
    border: none;
    color: white;
    border-radius: 3px;
}

#btnm a{
    color: #D9D9D9;
    font-weight: 600;
}







@media (max-width: 980px) {
    body {
        min-width: 80%;
    }

    .one {
        padding: 30px;
    }

    .one h5{
        font-size: 22px;
    }


    img{
        margin-left: 0.5px;
        min-width: 100%;
        height: auto;
    }

    .container {
        min-width: 70%;
        margin: 10% 7%;
        display: inline-block;
    }

    .container p {
        line-height: 25px;
        letter-spacing: 0.2px;
        font-size: 18px;
    }

    .box {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .three{
        margin-left: 9px;
    }

    h5 {
        font-size: 20px;
    }

    .four,
    .five,
    .six {
        padding: 30px;
        font-size: 15px;
        letter-spacing: 0.1px;
    }

    .six h5{
        margin-bottom: 10px;
    }
    .five h5{
        margin-bottom: 10px;
    }
    .four h5{
        margin-bottom: 10px;
    }

}



@media (max-width: 1280px) {
    header {
        padding: 14px 3%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        position: fixed;
        right: 1px;
    }

    .signup {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100% !important;
        width: 300px;
        height: 40vh;
        background: #0b1824d0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
        transition: all 0.7s .0s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .navbar.open {
        right: 0 !important;
    }
}



@media (max-width: 1280px) {
    header {
        padding: 14px 3%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}