@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --BGCOLOR: #000D11;
    --FONT-COLOR: #EEE5E9;
    --FF: 'Poppins', sans-serif;
    --FF-BRAND: 'Righteous', cursive;
}

body {
    min-width: 400px;
    max-height: 100vh;
    background: #000D11;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease-in-out;
}

.brand {
    display: flex;
    align-items: center;
    font-family: var(--FF-BRAND);
}

.brand span {
    color: var(--FONT-COLOR);
    font-size: 1.4em;
    letter-spacing: -0.5px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #E5EDF0;
    font-family: var(--FF);
    font-size: 13px;
    padding: 1px 0;
    margin: 0px 14px;
    font-weight: 600;
    transition: all .50s ease;
}

.navbar a:hover {
    color: #7C7C7C;
}

.navbar a.active {
    color: #7C7C7C;
}

.main {
    display: flex;
    align-items: center;
}

.signup {
    letter-spacing: 0.5px;
    font-size: 0.8em;
    background: #D9D9D9;
}

.main a {
    padding: 8px;
    border-radius: 7px;
    background-color: #D9D9D9;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-family: var(--FF);
    margin-right: 20px;
}


#menu-icon {
    color: #7C7C7C;
    font-size: 35px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}

/* ABOUT */

.container {
    color: #7C7C7C;
    border-radius: 9px;
    padding: 4% 20px;
    width: 500px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    color: var(--FONT-COLOR);
    letter-spacing: -0.5px;
    font-family: 'Poppins', sans-serif;
    background: #0B1824;
}

.bio {
    font-weight: 600;
}

.container .bio {
    font-size: 18px;
    line-height: 28px;
}

.heading {
    color: #88DBFB;
    font-weight: 600;
}

.title {
    color: #88DBFB;
    margin-top: 20px;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.title:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 1%;
    border-bottom: 2px solid #88DBFB;
}

img {
    width: 148px;
    margin-top: -20px;
    margin-left: -10px;
}

.image {
    text-align: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid #88DBFB;
    overflow: hidden;
    display: block;
    margin: auto;
}

#btn {
    border: none;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.4px;
    padding: 6px 14px;
    border-radius: 6px;
    display: block;
    margin: auto;
    box-shadow: 4px 4px #40AEDA;
    transition: 0.6s;
}

#btn:hover {
    box-shadow: none;
}

#btn a {
    color: #000D11;
}



@media (max-width: 700px) {
    .container {
        width: 330px;
    }

    .title{
        font-size: 1.3em;
    }

    .container p {
        font-size: 13px;
    }
    #btn{
        font-size: 13px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        position: fixed;
        right: 1px;
    }

    .signup {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -110% !important;
        width: 260px;
        height: 45vh;
        background: #0b1824d0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
        transition: all 1s .0s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        font-size: 14px;
    }

    .navbar.open {
        right: 0 !important;
    }
}

@media (max-width: 1280px) {
    header {
        padding: 14px 4%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}