@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --BGCOLOR: #000D11;
    --FONT-COLOR: #EEE5E9;
    --FF: 'Poppins', sans-serif;
    --FF-BRAND: 'Righteous', cursive;
}

body {
    min-width: 400px;
    background: #000D11;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease-in-out;
}

.brand {
    display: flex;
    align-items: center;
    font-family: var(--FF-BRAND);
}

.brand span {
    color: var(--FONT-COLOR);
    font-size: 22px;
    letter-spacing: 0.2px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #E5EDF0;
    font-family: var(--FF);
    font-size: 13px;
    padding: 1px 0;
    margin: 0px 14px;
    font-weight: 600;
    transition: all .50s ease;
}

.navbar a:hover {
    color: #7C7C7C;
}

.navbar a.active {
    color: #7C7C7C;
}

.main {
    display: flex;
    align-items: center;
}

.signup {
    letter-spacing: 0.5px;
    font-size: 13px;
}

.main a {
    padding: 7px 8px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: var(--BGCOLOR);
    font-weight: 600;
    font-family: var(--FF);
    margin-right: 20px;
}


#menu-icon {
    color: #7C7C7C;
    font-size: 35px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}

/* SKILLS */

.container {
    margin-top: 25px;
    background: #0B1824;
    user-select: none;
    width: 500px;
    padding: 13px 30px; 
    border-radius: 9px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--FONT-COLOR);
    letter-spacing: 0.3px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.container p {
    color: var(--FONT-COLOR);
    font-size: 14px;
}

.heading {
    color: #88DBFB;
    font-size: 17px;
    font-weight: 600;
}

img{
    margin-top: 10px;
    width: 450px;
    border-radius: 3px;
}

.title {
    font-size: 22px;
}



@media (max-width: 700px) {
    .container{
        width: 330px;
    }

    .container p {
        font-size: 13px;
    }

    img{
        width: 270px;
    }
}


@media (max-width: 1280px) {
    header {
        padding: 14px 4%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
        position: fixed;
        right: 1px;
    }

    .signup {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -110% !important;
        width: 270px;
        height: 50vh;
        background: #0b1824d0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
        transition: all 0.9s .0s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 14px;
    }

    .navbar.open {
        right: 0 !important;
    }

    
}